In [13]:
import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="abhi")
c=db.cursor()
cmd = "select * from student"
d = c.execute(cmd)
print(d)
cmd ="insert into student values('abhi','1');"
c.execute(cmd)
db.commit()

0

In [14]:
cmd = "select * from student"
d = c.execute(cmd)
data.
print(d)

1